doctype transitional
head
    meta(http-equiv='Content-Type' content='text/html' charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(name='color-scheme' content='light dark')
    meta(name='supported-color-schemes' content='light dark')
    title Password change conirmation
    // [if !mso] <!
    link(rel='preconnect' href='https://fonts.googleapis.com')
    link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin)
    link(href='https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;700;800;900&display=swap' rel='stylesheet')
    // <![endif]
    style(type='text/css').
        table {
        border-spacing: 0 !important;
        }
        td {
        padding: 0;
        }
        p {
        font-size: 16px;
        }
        img {
        border: 0;
        }
        a {
        text-decoration: none !important;
        }
        @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;700;800;900&display=swap');
        :root {
        color-scheme: light dark;
        supported-color-schemes: light dark;
        }
        @media (prefers-color-scheme: dark) {
        body,
        center,
        table {
        background-color: #2e2e2e !important;
        color: #a8a8a8 !important;
        }
        .table-primary {
        border: #a8a8a8 solid 1px !important;
        }
        .light-mode--graphic-element--line tr td {
        background-color: #a8a8a8 !important;
        }
        .light-mode--graphic-element--bottom-line tr td {
        background-color: #a8a8a8 !important;
        }
        .light-logo {
        display: none !important;
        }
        .dark-logo-wrapper,
        .dark-logo {
        display: block !important;
        }
        }
    //
        [if(gte mso 9) | (IE)]>
        <style type="text/css">
        table{
        border-collapse:collapse!important;
        }
        </style>
        <![endif]
//
    [if(gte mso 9) | (IE)]>
    <style type="text/css">
    body{
    background-color: #FFFFFF!important;
    }
    body, table, td, p, a {
    font-family: sans-serif, Arial, Helvitica!important;
    }
    </style>
    <![endif]
center(style='width: 100%; table-layout: fixed;background-color: #FFFFFF;')
    div(style='max-width:600px;background-color:#FFFFFF;')
        div(style='font-size: 0px;color:#FFFFFF;line-height: 1px;mso-line-height-rule:exactly;display:none;max-width:0px;max-height:0px;opacity: 0;overflow: hidden;mso-hide:all;')
            | Important changes made to your erida account. Please review below.
        //
            [if(gte mso 9) | (IE)]>
            <table width="600" align="center" style="border-spacing:0;color:#707070;border: #000000 solid 1px;Margin:0;padding:0" cellspacing="0" cellpadding="0">
            <tr>
            <td style="padding:0" bgcolor="#FFFFFF">
            <![endif]
        table.table-primary(align='center' style="border-spacing:0;color:#707070;font-family: 'Roboto', sans-serif, Arial, Helvitica;background-color: #FFFFFF;Margin:0;padding: 0;width: 100%;max-width: 600px;border: #000000 solid 1px" role='presentation' cellspacing='0' cellpadding='0')
            tr
                td(style='padding:0')
                    table(style='width:100%;border-spacing: 0;background-color: #FFFFFF' role='presentation')
                        tr
                            td(style='padding: 15px 55px 30px 55px;')
                                a(href='https://www.erida.in' target='_blank')
                                    img.light-logo(src='http://92e1736d8625.ngrok.io/cdn/eridaLogo.png' alt='erida' title='erida' width='60' border='0')
                                    // [if(gte mso 9) | (IE)]>
                                    .dark-logo-wrapper(style='mso-hide:all; display:none')
                                        img.dark-logo(src='http://92e1736d8625.ngrok.io/cdn/eridaLogo.png' alt='erida' title='erida' width='60' border='0' style='display: none;')
                                    // <![endif]
            tr
                td(style='padding: 0px 55px 15px 55px;')
                    p(style='Margin:0;padding:0; font-size: 32px; font-weight: 500; line-height: 40px;')
                        | Hi #{firstname}, your password was changed recently.
            tr
                td(style='padding: 0px 55px 35px 55px;')
                    p(style='Margin:0;padding:0; font-size: 20px; font-weight: 400; line-height: 26px;')
                        | We noticed that your password address was changed recently. In case, it wasn't you, report to our team immediately by clicking the button below
            tr
                td(align='center' style='padding: 0px 55px 20px 55px;')
                    table.light-mode--cta(align='center' style='border-spacing: 0;background-color: #FFFFFF' role='presentation' cellspacing='0' cellpadding='0')
                        tr
                            td(align='center' bgcolor='#0090FF')
                                a(style='text-decoration: none; color:#FFFFFF;cursor: pointer;background-color: #0090FF; padding: 7px 14px;font-size: 13px; font-weight: 700; display: inline-block; border: #0090FF solid 1px;' href=`${url}` target='_blank')
                                    | Report Activity
            tr
                td(style='padding: 0px 55px 50px 55px;')
                    p(style='Margin:0;padding:0; font-size: 14px; font-weight: 300; line-height: 18px;')
                        b Your safety,
                        |  is our 
                        b topmost priority.
                        |  We at erida do not encourage malicious activitie such as unauthorized password changes and will definitely take steps to protect your account better if you felt that this critical account change wasn't made by you.
            tr
                td(align='center' style='padding: 0px 55px 15px 55px;')
                    table.light-mode--graphic-element--line(style='width:50%;border-spacing: 0;background-color: #FFFFFF' role='presentation')
                        tr
                            td(style='width: 100%; height: 2px; background-color: #000000;')
            tr
                td(align='center' style='padding:0 75px 15px 75px')
                    table(align='center' style='width:100%;border-spacing: 0;background-color: #FFFFFF' role='presentation')
                        tr
                            td(style='text-align: center; padding: 0 0 10px 0;')
                                p(style='Margin:0;padding:0; font-size: 12px; font-weight: 300; line-height: 16px;')
                                    | This is an automated response. Please do not reply directly to this email. For any queries
                                    | please visit 
                                    a(style='text-decoration: underline; color: #707070;' href='https://www.erida.in' target='_blank') www.erida.in
                                    | . Or, write to us at 
                                    a(style='text-decoration: underline; color: #707070;' href='mailto:support@erida.in' target='_blank') support@erida.in
                                    | .
                        tr
                            td(align='center')
                                a(href='https://www.facebook.com' target='_blank')
                                    img(src='http://92e1736d8625.ngrok.io/cdn/fb.png' alt='Facebook' title='Facebook' width='24' border='0')
                                a(href='https://www.twitter.com' target='_blank')
                                    img(src='http://92e1736d8625.ngrok.io/cdn/twitter.png' alt='Twitter' title='Twitter' width='24' border='0')
                                a(href='https://www.instagram.com' target='_blank')
                                    img(src='http://92e1736d8625.ngrok.io/cdn/insta.png' alt='Instagram' title='instagram' width='24' border='0')
                        tr
                            td(style='text-align: center;')
                                p(style='Margin:0;padding:0; font-size: 10px; font-weight: 300; line-height: 12px; color: #a8a8a8;')
                                    | Copyright @2021 erida 
                                    br
                                    |  Madhuban Colony - Amolapatty, Nagaon (782001), Assam
            tr
                td(align='center' style='Margin:0;padding: 0;')
                    table.light-mode--graphic-element--bottom-line(style='width:100%;border-spacing: 0;background-color: #FFFFFF;Margin:0;padding: 0;' role='presentation' cellpadding='0' cellspacing='0')
                        tr
                            td(style='width: 100%; height: 15px; background-color: #000000;Margin:0;padding: 0;')
        //
            [if(gte mso 9) | (IE)]>
            </td>
            </tr>
            </table>
            <![endif]
